.header {
    background-color: #c60b94;
    color: rgb(238, 241, 21);
    padding: 20px;
    text-align: center;
    width: 100%;
    font-size: 24px;
  }

  .heading{
    background-color: #031727;
    color: rgb(238, 241, 21);
    padding: 20px;
    text-align: center;
    width: 100%;
    font-size: 40px;
  }

  .subheading{
    
      background-color: #031727;
      color: rgb(238, 241, 21);
      padding: 20px;
      text-align: center;
      width: 100%;
      font-size: 40px;
    
  }
  .main_heading{
    
    background-color: #031727;
    color: rgb(238, 241, 21);
    padding: 20px;
    text-align: center;
    width: 100%;
    font-size: 40px;
  
}
.para{
    
  background-color: #031727;
  color: rgb(249, 249, 242);
  padding: 20px;
  text-align: center;
  width: 100%;
  font-size: 40px;

}


  
  .navList {
    list-style: none;
    padding: 0;
  }
  
  .navList li {
    display: inline;
    margin: 0 15px;
  }